body {
}

.content-container {
    width: 100%;
    margin-bottom: 100px;
}

.contents-wrapper {
    width: 50%;
    margin: auto;
    margin-top: 48px;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid #c0c0c0;
    font-size: 40px;
    padding: 3rem;
}

.header-menu-btn {
    font-size: 36px;
}

.header-menu-btn span{
    font-size: 28px;
}

.header-title {
    margin: auto;
    transform: translate(-197px, 0);
}

.menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding-bottom: 16px;
}

.menu-group {
    display: flex;
    flex-direction: column;
}

.faq-panel {
    width: 50%;
}

.votes-container {
    float: right;
    padding-top: 16px;
}

.vote {
    margin-right: 16px;
    font-size: 24px;
}

.loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: auto;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #f6f8f9;
}

.search-form-wrapper {
    display: flex;
    align-items: flex-end;
    margin-left: 36px;
}

.toggle-btn {
    width: 50px;
    margin: 0;
    display: inline;
    padding: 16px;
    color: #337ab7;
    cursor: pointer;
}

.title {
    width: 80%;
    margin: 0;
    display: inline;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 850px) {
    .contents-wrapper {
        width: 80%;
    }
}
